<!DOCTYPE html>
<html>
  <head>
    <title>DiplomacyBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/f391d4e959.js" crossorigin="anonymous"></script>
  </head>
  <script type="text/javascript">
    window.defaultProfileURL = "<%= image_url('default_profile.jpg') %>";
    window.fbFriendsIconURL = "<%= image_url('fb_friends_icon.png')%>"
    window.fbLikesIconURL = "<%= image_url('fb_like_icon.svg')%>"
    window.sleepifyIcon = "<%= image_url('sleepifyfavi.png')%>"
    window.quarrelIcon = "<%= image_url('quarrelfavi.ico')%>"
    window.kosuIcon = "<%= image_url('kosufavi.png')%>"
    window.programmer = "<%= image_url('programmer.jpg')%>"
  
  </script>

  <body>
    <%= yield %>
  </body>
</html>
